@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'sharp grotesk';
    src: url(/fonts/sharp-grotesk-500.ttf) format('truetype');
  }
  pre {
    font-family: 'Courier New', monospace !important;
    background: black !important; 
    color: #00FF00 !important;
    margin: 1.5em 10px !important;
    padding: 1em 10px !important;
    border-radius: 5px !important;
  }
  code {
    background: 'black' !important; 
    color: '#00FF00' !important;
    border-left: 5px solid rgb(22 163 74) !important;  /* bg-green-600 */ 
    margin: 1.5em 10px !important;
    padding: 1em 10px !important;
  }

  .odd div:nth-child(odd) {
    background-color:#FF0000;
  }      
}

@layer components{
  .bubble{
      @apply
      transform
      transition-all
      hover:scale-110
      duration-150
      ease-in-out
      select-none
  }
  
  /* Button Animations */
  .btn span:first-child{
    transform: translateX(-101%);
    transition: transform .5s ease-in-out
  }
  .btn:hover span{
    transform: translateX(0)
  }
}

