@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  /* Button Animations */
  .btn span:first-child{
    transform: translateX(-101%);
    transition: transform .5s ease-in-out
  }
  .btn:hover span{
    transform: translateX(0)
  }

  /* FLIP Grid and List Animations*/
  .fm-grid,
  .fm-list {
    background-color: black;
    width: 100%;
  }

  .fm-grid > ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 24rem;
    grid-gap: 1rem;
    padding: 0;
    margin: 0;
  }

  .fm-list {
    grid-gap: 1rem;
  }

  .fm-list > ul,
  .fm-grid > ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
  }

  .fm-list .fm-item {
    margin-bottom: 1rem;
  }

  .fm-list .fm-item:last-of-type {
    margin-bottom: 0;
  }
}